<%- include("../partials/header") %>
<nav>
  <a class="btn btn-primary add-new" href="/employees/new" role="button">Add new Employee</a>
</nav>
<h2>Employees</h2>
<div class="container-fluid">
<table class="table-hover table">
    <thead class="employee-list">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Info</th>
      </tr>
    </thead>
    <tbody class="table-group-divider employee-list">
    <% employees.forEach((e) => { %>
      <tr>
        <td><%= e.firstName %></td>
        <td><%= e.lastName %></td>
        <td><a href="/employees/<%= e._id %>">Show</a></td>
      </tr>
    <% }) %>
    </tbody>
  </table>
</div>


<%- include("../partials/footer") %>
