<%- include("../partials/header") %>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to proceed?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          This action is irreversible!
        </div>
        <div class="modal-footer">
          <button type="button" class="shadow-btn-close btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <form action="/employees/<%= employee._id %>?_method=DELETE" method="POST"><button onclick="snd.play()"type="submit" class="shadow-btn-red btn btn-outline-danger">Delete</button></form>
        </div>
      </div>
    </div>
  </div>
<nav>
    <form action="/employees/<%= employee._id %>?_method=DELETE" method="POST"><button class="shadow-btn-red btn-show-page btn btn-outline-danger" id="delete" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button></form>
    <a class="shadow-btn btn-show-page btn btn-outline-primary add-new" href="/employees/<%= employee._id %>/edit" role="button" id="edit-btn">Edit</a>
</nav>
<h2><%= title %></h2>

<table class="table">
<thead class="employee-list">
    <tr>
    <th scope="col">Email</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Start Time</th>
    <th scope="col">End Time</th>
    <th scope="col">Department</th>
    </tr>
</thead>
<tbody class="table-group-divider employee-list">
    <tr>
    <td><%= employee.email %></td>
    <td><%= employee.phone %></td>
    <td>Start time: <%= employee.startTime %></td>
    <td>End time: <%= employee.endTime %></td>
    <td><%= employee.department %></td>
    </tr>
</tbody>
</table>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>Salary: </h3>
            <p id="salary"><span id="dollar-sign"><%= employee.salary[0] %></span><%= employee.salary.slice(1) %></p>
        </div>
        <div class="col">
            <div id="performance"><h3>Performance Review: </h3>
                <div class="container-fluid">
                    <div class="row">
                        <% employee.performance.forEach(function(p) { %>
                        <div class="perf-ul col-6">
                            <ul class="perf-ul">
                                <h5>Date: <%= p.createdAt.toLocaleDateString() %> <form action="/performances/<%= p._id %>?_method=DELETE" method="POST"><button onclick="snd.play()"class="hidden shadow-btn-red btn-show-page btn btn-outline-danger" id="delete" type="submit">Delete</button></form></h5>
                                <li>Quality of Work: <%= p.qualityOfWork %></li>
                                <li>Attendance: <%= p.attendance %></li>
                                <li>Reliability: <%= p.reliability %></li>
                                <li>Communication Skills: <%= p.communicationSkills %></li>
                                <% if(p.notes) { %>
                                    <p> Notes: <%= p.notes %></p>
                                <% } else { %>
                                    <p> Notes: N/A</p>
                            <% } %>
                            </ul>
                    </div>
                    <% }) %>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<% if(user) { %>
    <form id="add-performance" method="POST" action="/employees/<%= employee._id %>/performances">
        <label for="qualityOfWork">Quality of Work: </label>
        <select class="form-select" name="qualityOfWork" id="">
            <option value="default">--Select an option--</option>
            <option value="Exceeds expectations">Exceeds expectations</option>
            <option value="Meets expectations">Meets expectations</option>
            <option value="Needs improvement">Needs improvement</option>
            <option value="Unacceptable">Unacceptable</option>
        </select>
        <label for="attendance">Attendance: </label>
        <select class="form-select" name="attendance" id="">
            <option value="default">--Select an option--</option>
            <option value="Exceeds expectations">Exceeds expectations</option>
            <option value="Meets expectations">Meets expectations</option>
            <option value="Needs improvement">Needs improvement</option>
            <option value="Unacceptable">Unacceptable</option>
        </select>
        <label for="reliability">Reliability: </label>
        <select class="form-select" name="reliability" id="">
            <option value="default">--Select an option--</option>
            <option value="Exceeds expectations">Exceeds expectations</option>
            <option value="Meets expectations">Meets expectations</option>
            <option value="Needs improvement">Needs improvement</option>
            <option value="Unacceptable">Unacceptable</option>
        </select>
        <label for="communicationSkills">Communication Skills: </label>
        <select class="form-select" name="communicationSkills" id="">
            <option value="default">--Select an option--</option>
            <option value="Exceeds expectations">Exceeds expectations</option>
            <option value="Meets expectations">Meets expectations</option>
            <option value="Needs improvement">Needs improvement</option>
            <option value="Unacceptable">Unacceptable</option>
        </select>

        <label for="notes">Notes: </label>
        <textarea class="form-control" name="notes" id="notes" cols="30" rows="10" placeholder="Add any additional notes"></textarea>
        <input class="shadow-btn btn btn-outline-primary" type="submit" value="Add a Performance Review">
    </form>
  <% } %>
<%- include("../partials/footer") %>
